<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flk.mng.equipment.mapper.PumpMapper">
	
	<!--펌프관리 리스트조회  -->
	<select id ="selectPumpList" parameterType="Pump" resultType="flkMap" >
	/* PumpMapper.selectPumpList */
		<include refid="com.flk.common.mapper.CommonMapper.selectPagingTop" />
		SELECT 
			ROW_NUMBER() OVER (ORDER BY FPM.REG_DATE DESC) AS RNUM
			,FPM.FPM_ID
			,FPM.SITE_ID
			,FPM.PUMP_NAME
			,FPM.TEST_RUN_DATE
			,FPM.FORM
			,FPM.AMT_PUMP_NAME_1
			,FPM.AMT_PUMP_CNT_1
			,FPM.AMT_PUMP_NAME_2
			,FPM.AMT_PUMP_CNT_2
			,S.SG_ID
			,S.SITE_DESC
			,FPM.REG_DATE
		FROM TBL_FACILITY_PUMP_MASTER FPM INNER JOIN TBL_SITE S
		ON FPM.SITE_ID = S.SITE_ID
		WHERE 1=1 
		<if test="searchCondition2 != '' and searchCondition2 != null">
	    	AND FPM.SITE_ID = #{searchCondition2}
	    </if>
	    <if test="searchKeyword != '' and searchKeyword != null">
	    	
	    	AND (FPM.PUMP_NAME LIKE CONCAT('%', #{searchKeyword}, '%')
	    	OR FPM.FORM LIKE CONCAT('%', #{searchKeyword}, '%')
	    	OR FPM.TEST_RUN_DATE LIKE CONCAT('%', #{searchKeyword}, '%')
	    	OR FPM.AMT_PUMP_NAME_1 LIKE CONCAT('%', #{searchKeyword}, '%')
	    	OR FPM.AMT_PUMP_CNT_1 LIKE CONCAT('%', #{searchKeyword}, '%')
	    	OR FPM.AMT_PUMP_NAME_2 LIKE CONCAT('%', #{searchKeyword}, '%')
	    	OR FPM.AMT_PUMP_CNT_2 LIKE CONCAT('%', #{searchKeyword}, '%'))
	    </if>
	    AND FPM.USE_FLAG = 'Y'
	    ORDER BY FPM.REG_DATE DESC
		<include refid="com.flk.common.mapper.CommonMapper.selectPagingBottom" /> 
	</select>
	
	<!--펌프관리 상세정보 -->
	<select id ="selectPumpInfo" parameterType="Pump" resultType="flkMap" >
	/* PumpMapper.selectPumpInfo */
		SELECT 
			FPM.FPM_ID
			,FPM.SITE_ID
			,FPM.PUMP_NAME
			,FPM.ADDRESS
			,FPM.PHONE
			,FPM.TEST_RUN_DATE
			,DATE_FORMAT(FPM.TEST_RUN_DATE,'%Y년 %m월 %d일') AS TEST_RUN_DATE_FORMAT
			,FPM.FORM
			,FPM.SALES_INFO
			,FPM.AS_INFO
			,FPM.PUMP_TYPE_CD
			,FPM.AMT_PUMP_NAME_1
			,FPM.AMT_PUMP_CNT_1
			,FPM.AMT_PUMP_NAME_2
			,FPM.AMT_PUMP_CNT_2
			,S.SG_ID
		FROM TBL_FACILITY_PUMP_MASTER FPM INNER JOIN TBL_SITE S
		ON FPM.SITE_ID = S.SITE_ID
		WHERE FPM.FPM_ID = #{fpmId}
	</select>
	
	<!-- 펌프관리 SUB 리스트 -->
	<select id ="selectSubPumpList" parameterType="Pump" resultType="flkMap" >
	/* PumpMapper.selectSubPumpList */
		SELECT 
			FP.FP_ID
			,FP.FPM_ID
			,FP.PUMP_SUBNAME
			,FP.PUMP_TYPE_CD
			,FP.MOTOR_MODEL_NAME
			,FP.MOTOR_MODEL_NO
			,FP.PUMP_MODEL_NAME
			,FP.PUMP_MODEL_NO
			,FP.POWER_SUPPLY
			,FP.SPEND_POWER_KW
			,FP.SPEND_POWER_HP
			,FP.ELEC_CURRENT
			,FP.FLOW_RATE_1
			,FP.FLOW_RATE_2
			,FP.LIFT
			,FP.FLUID_MATERIAL
			,FP.FLUID_PERCENT
			,FP.MOTOR_TYPE
		FROM TBL_FACILITY_PUMP FP , TBL_FACILITY_PUMP_MASTER FPM
		WHERE FP.FPM_ID = FPM.FPM_ID
		AND FP.FPM_ID = #{fpmId}
	</select>
	
	<!--펌프종류 리스트조회  -->
	<select id ="selectPumpTypeList" parameterType="Pump" resultType="flkMap" >
	/* PumpMapper.selectPumpTypeList */
		SELECT 
			CODE_ID
			,CODE_NAME
			,CODE_USE_NAME
			,PARENT_CODE_ID
		FROM TBL_CODE
		WHERE PARENT_CODE_ID = 'CD_0000000000000313'
	</select>
	
	<!-- 펌프Master insert -->
	<insert id="insertPumpMaster" parameterType="Pump" useGeneratedKeys="true" keyProperty="fpmId">
	/* PumpMapper.insertPumpMaster */
		INSERT INTO TBL_FACILITY_PUMP_MASTER
		(
			SITE_ID
			,PUMP_NAME
			,PUMP_TYPE_CD
			,ADDRESS
			,PHONE
			,TEST_RUN_DATE
			,FORM
			,SALES_INFO
			,AS_INFO
			,USE_FLAG
			,AMT_PUMP_NAME_1
			,AMT_PUMP_CNT_1
			,AMT_PUMP_NAME_2
			,AMT_PUMP_CNT_2
			,UPDATE_ID
			,UPDATE_DATE
			,REG_ID
			,REG_DATE
		)VALUES(
			#{siteId}
			,#{pumpName}
			,#{pumpTypeCd}
			,#{address}
			,#{phone}
			,#{testRunDate}
			,#{form}
			,#{salesInfo}
			,#{asInfo}
			,'Y'
			,#{amtPumpName1}
			,#{amtPumpCnt1}
			,#{amtPumpName2}
			,#{amtPumpCnt2}	
			,#{updateId}
			,now()
			,#{regId}
			,now()
		)
		<selectKey resultType="String" keyProperty="fpmId" order="AFTER">
        	SELECT  LAST_INSERT_ID()
   		</selectKey> 
	</insert>
	
	<!--펌프Sub insert  -->
	<insert id="insertPumpSub" parameterType="Pump">
	/* PumpMapper.insertPumpSub */
		INSERT INTO TBL_FACILITY_PUMP
		(
			<if test="fpId != '' and fpId != null">
			FP_ID,
			</if>
			FPM_ID
			,PUMP_SUBNAME
			,PUMP_TYPE_CD
			,MOTOR_MODEL_NAME
			,MOTOR_MODEL_NO
			,PUMP_MODEL_NAME
			,PUMP_MODEL_NO
			,POWER_SUPPLY
			,SPEND_POWER_KW
			,SPEND_POWER_HP
			,ELEC_CURRENT
			,FLOW_RATE_1
			,FLOW_RATE_2
			,LIFT
			,FLUID_MATERIAL
			,FLUID_PERCENT
			,MOTOR_TYPE
		)VALUES(
			<if test="fpId != '' and fpId != null">
			#{fpId},
			</if>
			#{fpmId}
			,#{pumpSubname}
			,#{pumpTypeCd}
			,#{motorModelName}
			,#{motorModelNo}
			,#{pumpModelName}
			,#{pumpModelNo}
			,#{powerSupply}
			,#{spendPowerKw}
			,#{spendPowerHp}
			,#{elecCurrent}
			,#{flowRate1}
			,#{flowRate2}
			,#{lift}
			,#{fluidMaterial}
			,#{fluidPercent}
			,#{motorType}		
		)
		
	</insert>
	
	<!--펌프관리 수정  -->
	<update id="updatePumpMaster" parameterType = "Pump">
	/* PumpMapper.updatePumpMaster */
		UPDATE TBL_FACILITY_PUMP_MASTER 
		SET 
			SITE_ID = #{siteId}
			,PUMP_NAME = #{pumpName}
			,ADDRESS = #{address}
			,PHONE = #{phone}
			,FORM = #{form}
			,SALES_INFO = #{salesInfo}
			,AS_INFO = #{asInfo}
			,TEST_RUN_DATE = #{testRunDate}
			,PUMP_TYPE_CD = #{pumpTypeCd}
			,AMT_PUMP_NAME_1 = #{amtPumpName1}
			,AMT_PUMP_CNT_1 = #{amtPumpCnt1}
			,AMT_PUMP_NAME_2 = #{amtPumpName2}
			,AMT_PUMP_CNT_2 = #{amtPumpCnt2}	
			,UPDATE_ID = #{updateId}
			,UPDATE_DATE= now()
		WHERE FPM_ID = #{fpmId}
	</update>
	
	<!--펌프관리 삭제시-->
	<update id = "updateUseFlag" parameterType = "Pump">
	/* PumpMapper.updateUseFlag */
		UPDATE TBL_FACILITY_PUMP_MASTER 
		SET 
			USE_FLAG = 'N'
			,UPDATE_ID = #{updateId}
			,UPDATE_DATE = now()
		WHERE FPM_ID = #{fpmId}
	</update>
	
	<!-- 펌프sub  삭제 -->
	<delete id="deletePumpSub" parameterType = "Pump">
	/* PumpMapper.deletePumpSub */
		DELETE FROM TBL_FACILITY_PUMP
		WHERE FPM_ID = #{fpmId}
	</delete>
	
</mapper>