<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flk.mng.work.mapper.WorkHistoryMapper">
 
 	<!-- 작업이력 리스트 -->
	<select id="selectWorkHistoryList" parameterType="WorkHistory" resultType="flkMap">
		/* WorkHistoryMapper.selectWorkHistoryList */
		<include refid="com.flk.common.mapper.CommonMapper.selectPagingTop" />  
		SELECT ROW_NUMBER() OVER (ORDER BY twh.work_date DESC, twh.work_id DESC) AS RNUM
			   , twh.work_id
			   , twh.work_date
			   , twh.title
			   , twh.content
			   , twh.site_id
			   , ts.site_name
		  FROM tbl_work_history twh
		  JOIN tbl_site ts
		    ON twh.site_id = ts.site_id
		<where>
		    <if test="searchCondition2 != '' and searchCondition2 != null">
		    	AND site_id = ${searchCondition2}
		    </if>
		    <if test="searchKeyword != '' and searchKeyword != null">
		    	AND title LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
		</where>
		ORDER BY work_date DESC, work_id DESC
	    <include refid="com.flk.common.mapper.CommonMapper.selectPagingBottom" /> 
		
	</select>
	
	<!-- 작업이력관리 상세 조회 -->	
	<select id="selectWorkHistoryView" parameterType="WorkHistory" resultType="flkMap">
		/* WorkHistoryMapper.selectWorkHistoryView */
		SELECT work_id
			   , work_date
			   , title
			   , content
			   , TWH.reg_id
			   , TWH.reg_date
			   , TWH.update_id
			   , TWH.update_date
			   , TWH.site_id
			   , TS.sg_id
		  FROM tbl_work_history TWH, tbl_site TS
		 WHERE TWH.site_id = TS.site_id
		   AND work_id = #{workId}		
	</select>	
	
	<!-- 작업이력 등록 -->
	<insert id="insertWorkHistory" parameterType="WorkHistory">
		/* WorkHistoryMapper.insertWorkHistory */
		INSERT INTO tbl_work_history ( work_id, work_date, title, content, reg_id, update_id, site_id)
		VALUES (#{workId}, #{workDate}, #{title}, #{content}, #{regId}, #{updateId}, #{siteId})
	</insert>
	
	<!-- 작업이력 수정 -->
	<update id="updateWorkHistory" parameterType="WorkHistory">
		/* WorkHistoryMapper.updateWorkHistory */
		UPDATE tbl_work_history
		   SET work_date = #{workDate}
		       , title = #{title}
		       , content = #{content}
		       , update_id = #{updateId}
		       , site_id = #{siteId}
		 WHERE work_id = #{workId}		 
	</update>
	
	<!-- 작업이력 삭제 -->
	<delete id="deleteWorkHistory" parameterType="WorkHistory">
		/* WorkHistoryMapper.deleteWorkHistory */
		DELETE FROM tbl_work_history
		 WHERE work_id = #{workId}
	</delete>
</mapper>